html
  head
    link(href='https://fonts.googleapis.com/css?family=Hind', rel='stylesheet')
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css\
    ', rel='stylesheet')
    link(href='./styles.css', rel='stylesheet')
  body
    section.header
      .logo
        | Logo
      |         
      nav.nav_s
    |     
    section.content
      nav.menu.menu--adsila
        a.menu__item(href='#')
          span.menu__item-name About me
          |                 
          span.menu__item-label UX Designer
        |             
        a.menu__item(href='#')
          span.menu__item-name Porjects
          |                 
          span.menu__item-label Discover my recent works
        |             
        a.menu__item(href='#')
          span.menu__item-name Contact
          |                 
          span.menu__item-label Get in touch and find us
      |         
      section.display