@import url("https://fonts.googleapis.com/css?family=Inconsolata");
body {
  max-width: 1440px;
  min-width: 320px;
  padding: 24px;
  margin: 0;
  background-color: white;
}

body header {
  top: 0;
  padding-top: 24px;
  width: calc(100% - 48px);
  position: fixed;
  background: white;
  box-sizing: border-box;
  z-index: 1;
}

body header nav {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  transition: all .2s ease;
}

body header nav .logo {
  font-family: "Inconsolata", sans-serif;
  display: inline-block;
  font-size: 20px;
  font-weight: 600;
  color: white;
  background-color: black;
}

body header nav .logo a {
  text-decoration: none;
}

body header nav .ham {
  cursor: pointer;
  padding: 8px;
  border: none;
  background: transparent;
}

body header nav .ham span {
  height: 2px;
  background: black;
  margin-bottom: 4px;
  display: block;
  transform: rotate(0);
  transition: transform 0.5s ease;
}

body header nav .ham span:first-child, body header nav .ham span:last-child {
  width: 24px;
}

body header nav .ham span:nth-child(2) {
  width: 32px;
}

body header nav .ham .ham_hover {
  transition: all 0.5s ease;
  background-color: orange;
}

body header nav .ham .ham_hover:first-child, body header nav .ham .ham_hover:last-child {
  width: 20px;
}

body header nav .ham .ham_hover:first-child {
  transform: translateX(-4px) rotate(-45deg);
}

body header nav .ham .ham_hover:last-child {
  transform: translateX(-4px) rotate(45deg);
}

body header.header-scroll {
  box-shadow: 0px 16px 0px 0px rgba(255, 255, 255, 0.82);
  padding-top: 16px;
  transition: all .2s ease;
}

body header.header-scroll nav {
  align-items: center;
  transition: align-items .2s ease;
}

body .menu {
  transform: translateX(100vw);
  height: 100%;
  width: 100%;
  padding: 0px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: black;
  z-index: 1;
  text-align: center;
}

body .menu .close {
  position: relative;
  opacity: 0;
  background: transparent;
  border: none;
  padding: 16px;
}

body .menu .close span {
  height: 2px;
  width: 24px;
  background: white;
  position: absolute;
  top: 0px;
}

body .menu .close span:first-child {
  transform: rotate(45deg);
}

body .menu .close span:last-child {
  transform: rotate(-45deg);
}

body .menu .close:hover {
  opacity: 0.5;
  cursor: pointer;
}

body .menu ul {
  position: relative;
  top: 30%;
  display: block;
  padding: 0px;
  margin: auto;
  font-size: 24px;
  font-family: "Inconsolata", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  list-style: none;
  color: white;
}

body .menu ul li {
  display: block;
  position: relative;
  overflow: hidden;
  padding: 24px 0;
  transition: background-color 0.5s ease;
  top: 0;
}

body .menu ul li span {
  position: absolute;
  top: calc(50% - 12px);
  left: 20%;
  padding: 0 8px;
  box-sizing: border-box;
}

body .menu ul li span::before {
  content: " ";
  height: 2px;
  width: 100%;
  top: 12px;
  left: 0;
  background: white;
  position: absolute;
  transform: scale3d(0, 1, 1);
  transform-origin: right center;
  transition: transform 0.5s ease;
}

body .menu ul li:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

body .menu ul li:hover span {
  top: calc(50% - 10px);
}

body .menu ul li:hover span::before {
  transform: scale3d(1, 1, 1);
  transform-origin: left center;
  transition: transform 0.5s ease;
  cursor: pointer;
}

body .hello {
  height: 100vh;
  padding: 0 100px;
  position: relative;
}

body .hello p {
  position: relative;
  top: 30%;
}

body .hello p .typer {
  font-size: 48px;
  line-height: 1.2;
  font-family: "Inconsolata", sans-serif;
  font-weight: 200;
  display: block;
  line-height: 64px;
}

body .hello::before {
  content: " ";
  position: absolute;
  top: 70%;
  right: 10%;
  width: 2px;
  height: 20%;
  background: black;
  transform: scale(1, 0);
  transition: transform 2s ease;
  transform-origin: center bottom;
}

body .hello:hover::before {
  transform: scale(1, 1);
  transition: transform 2s ease;
  transform-origin: center top;
}

body .work {
  padding: 10px 40px;
  position: relative;
}

body .work .title {
  text-transform: uppercase;
  display: block;
  font-size: 200px;
  position: absolute;
  left: 0;
  top: 0;
  color: rgba(0, 0, 0, 0.05);
}

body .work .project-container {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

body .work .project-container .project {
  font-family: "Inconsolata", sans-serif;
  position: relative;
  padding: 10px 0;
  height: 200px;
}

body .work .project-container .project .project-title {
  font-weight: 200;
  font-size: 20px;
}

body .work .project-container .project::before {
  content: " ";
  position: absolute;
  height: 8px;
  width: 40PX;
  background: black;
  top: 0;
}
 

 /*# sourceMappingURL= styles.css.map */